<h1>Log Statistics</h1>


<div id=chapters>

  <p><a ui-sref="newChapter" ng-if="LogCtrl.noCurrentChapter()">Create a new chapter to track your progress.</a></p>
  <p><a ui-sref="showChapter({id: LogCtrl.chapters[0].id})" ng-if="!LogCtrl.noCurrentChapter()">Head over to your current chapter to add new entries.</a></p>

  <p><a ui-sref="chapters">Head over to all your previous chapters.</a></p>
</div>

<br>
<div id="gainStats" ng-if="LogCtrl.gainStats">
  <p><b>While trying to gain weight you average...</b></p>
  <p>{{LogCtrl.gainStats.averageCalories}} in calorie consumption.</p>
  <p>{{LogCtrl.gainStats.averageProtein}} in protein consumption.</p>
  <p>{{LogCtrl.gainStats.averageCarbs}} in carbs consumption.</p>
  <p>{{LogCtrl.gainStats.averageFats}} in fats consumption.</p>
</div>
<br>
<div id="maintainStats" ng-if="LogCtrl.mainStats">
  <p><b>While trying to maintain weight you average...</b></p>
  <p>{{LogCtrl.maintainStats.averageCalories}} in calorie consumption.</p>
  <p>{{LogCtrl.maintainStats.averageProtein}} in protein consumption.</p>
  <p>{{LogCtrl.maintainStats.averageCarbs}} in carbs consumption.</p>
  <p>{{LogCtrl.maintainStats.averageFats}} in fats consumption.</p>
</div>
<br>
<div id="loseStats" ng-if="LogCtrl.loseStats">
  <p><b>While trying to lose weight you average...</b></p>
  <p>{{LogCtrl.loseStats.averageCalories}} in calorie consumption.</p>
  <p>{{LogCtrl.loseStats.averageProtein}} in protein consumption.</p>
  <p>{{LogCtrl.loseStats.averageCarbs}} in carbs consumption.</p>
  <p>{{LogCtrl.loseStats.averageFats}} in fats consumption.</p>
</div>
