<h1>Log Statistics</h1>


<div id=chapters>

  <div ng-if="LogCtrl.noCurrentChapter()" ng-controller="NewChapterController as NewChapterCtrl">
    <p>Create a new chapter to track your progress.</p>
    <form name="newChapterForm" ng-submit="NewChapterCtrl.create()">
      <div class="center">
        <div class="inline">
          <div ng-messages="newChapterForm.title.$error" ng-if="newChapterForm.title.$touched">
            <div ng-message="required">Please enter a title.</div>
          </div>
          <input id="title" name="title" placeholder="Title" required="true" ng-model="NewChapterCtrl.title">
        </div>

        <div class="inline">
          <input placeholder="Description (Optional)" ng-model="NewChapterCtrl.description">
        </div>

        <div class="inline">
          <div ng-messages="newChapterForm.goal.$error" ng-if="newChapterForm.goal.$touched">
            <div ng-message="required">Please enter a goal.</div>
            <div ng-message="number">Please enter a number.</div>
          </div>
          <input id="goal" placeholder="Weekly Goal" type="number" step="0.1" value="0.0" name="goal" required="true" ng-model="NewChapterCtrl.goal">
        </div>
        <input type="submit" class="btn btn-success" value="Create Chapter">
      </div>
    </form>
  </div>

  <p><a ui-sref="showChapter({id: LogCtrl.chapters[0].id})" ng-if="!LogCtrl.noCurrentChapter()">Head over to your current chapter to add new entries, add new food entries, and create new measurements.</a></p>
  <p><a ui-sref="showChapter.entryMeasurement {{id: LogCtrl.log.latest_entry.chapter_id, entry_id: LogCtrl.log.latest_entry.id}}" ng-if="LogCtrl.hasLatestEntry">Head over to the measurements page for your most recent entry.</a></p>
  <p><a ui-sref="showChapter.entryFoods {{id: LogCtrl.log.latest_entry.chapter_id, entry_id: LogCtrl.log.latest_entry.id}}" ng-if="LogCtrl.hasLatestEntry">Head over to the foods page for your most recent entry.</a></p>

  <p><a ui-sref="chapters">Head over to all your previous chapters.</a></p>

</div>

<br>
<div id="gainStats" ng-if="LogCtrl.gainStats">
  <p><b>While trying to gain weight you average...</b></p>
  <p>{{LogCtrl.gainStats.averageCalories}} in calorie consumption.</p>
  <p>{{LogCtrl.gainStats.averageProtein}} in protein consumption.</p>
  <p>{{LogCtrl.gainStats.averageCarbs}} in carbs consumption.</p>
  <p>{{LogCtrl.gainStats.averageFats}} in fats consumption.</p>
</div>
<br>
<div id="maintainStats" ng-if="LogCtrl.maintainStats">
  <p><b>While trying to maintain weight you average...</b></p>
  <p>{{LogCtrl.maintainStats.averageCalories}} in calorie consumption.</p>
  <p>{{LogCtrl.maintainStats.averageProtein}} in protein consumption.</p>
  <p>{{LogCtrl.maintainStats.averageCarbs}} in carbs consumption.</p>
  <p>{{LogCtrl.maintainStats.averageFats}} in fats consumption.</p>
</div>
<br>
<div id="loseStats" ng-if="LogCtrl.loseStats">
  <p><b>While trying to lose weight you average...</b></p>
  <p>{{LogCtrl.loseStats.averageCalories}} in calorie consumption.</p>
  <p>{{LogCtrl.loseStats.averageProtein}} in protein consumption.</p>
  <p>{{LogCtrl.loseStats.averageCarbs}} in carbs consumption.</p>
  <p>{{LogCtrl.loseStats.averageFats}} in fats consumption.</p>
</div>
