<h1>Entry for {{EntryCtrl.entry.day}} </h1>
<form name="foodForm" ng-submit="EntryCtrl.createFood()">
  <div class="input-group">
    <label for="calories">Calories</label>
    <input type="number" id="calories" name="calories" required="true" ng-model="EntryCtrl.food.calories">
    <div ng-messages="foodForm.calories.$error" ng-if="foodForm.calories.$touched">
      <div ng-message="required">Please enter calories.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <div class="input-group">
    <label for="protein">Protein</label>
    <input type="number" id="protein" name="protein" required="true" ng-model="EntryCtrl.food.protein">
    <div ng-messages="foodForm.protein.$error" ng-if="foodForm.protein.$touched">
      <div ng-message="required">Please enter protein.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <div class="input-group">
    <label for="carbs">Carbs</label>
    <input type="number" id="carbs" name="carbs" required="true" ng-model="EntryCtrl.food.carbs">
    <div ng-messages="foodForm.carbs.$error" ng-if="foodForm.carbs.$touched">
      <div ng-message="required">Please enter carbs.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <div class="input-group">
    <label for="fats">Fats</label>
    <input type="number" id="fats" name="fats" required="true" ng-model="EntryCtrl.food.fats">
    <div ng-messages="foodForm.fats.$error" ng-if="foodForm.fats.$touched">
      <div ng-message="required">Please enter fats.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <input type="submit" class="btn btn-success" value="Create Food">
</form>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fat</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Total</th>
      <th>{{EntryCtrl.entry.total_calories}}</td>
      <th>{{EntryCtrl.entry.total_protein}}</td>
      <th>{{EntryCtrl.entry.total_carbs}}</td>
      <th>{{EntryCtrl.entry.total_fats}}</td>
    </tr>
      <tr ng-repeat="food in EntryCtrl.entry.foods">
        <td>{{food.name}}</th>
        <td>{{food.calories}}</td>
        <td>{{food.protein}}</td>
        <td>{{food.carbs}}</td>
        <td>{{food.fats}}</td>
      </tr>
  </tbody>
