<h1>Entry for {{EntryCtrl.entry.day}} </h1>

<h4> {{EntryCtrl.entry.notes || "No notes avaliable." }} </h4>
<form name="EntryCtrl.foodForm" ng-submit="EntryCtrl.createFood()">
  <div class="input-group">
    <label for="name">Name</label>
    <input id="name" name="name" required="true" ng-model="EntryCtrl.food.name">
    <div ng-messages="EntryCtrl.foodForm.calories.$error" ng-if="EntryCtrl.foodForm.calories.$touched">
      <div ng-message="required">Please enter a name.</div>
    </div>
  </div>
  <div class="input-group">
    <label for="calories">Calories</label>
    <input type="number" id="calories" name="calories" min="0" required="true" ng-model="EntryCtrl.food.calories">
    <div ng-messages="EntryCtrl.foodForm.calories.$error" ng-if="EntryCtrl.foodForm.calories.$touched">
      <div ng-message="min">Calories must be at least zero.</div>
      <div ng-message="required">Please enter calories.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <div class="input-group">
    <label for="protein">Protein</label>
    <input type="number" id="protein" name="protein" min="0" required="true" ng-model="EntryCtrl.food.protein">
    <div ng-messages="EntryCtrl.foodForm.protein.$error" ng-if="EntryCtrl.foodForm.protein.$touched">
      <div ng-message="min">Protein must be at least zero.</div>
      <div ng-message="required">Please enter protein.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <div class="input-group">
    <label for="carbs">Carbs</label>
    <input type="number" id="carbs" name="carbs" min="0" required="true" ng-model="EntryCtrl.food.carbs">
    <div ng-messages="EntryCtrl.foodForm.carbs.$error" ng-if="EntryCtrl.foodForm.carbs.$touched">
      <div ng-message="min">Carbs must be at least zero.</div>
      <div ng-message="required">Please enter carbs.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <div class="input-group">
    <label for="fats">Fats</label>
    <input type="number" id="fats" name="fats" min="0" required="true" ng-model="EntryCtrl.food.fats">
    <div ng-messages="EntryCtrl.foodForm.fats.$error" ng-if="EntryCtrl.foodForm.fats.$touched">
      <div ng-message="min">Fats must be at least zero.</div>
      <div ng-message="required">Please enter fats.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>
  <input type="submit" class="btn btn-success" value="Create Food">
</form>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Calories</th>
      <th>Protein</th>
      <th>Carbs</th>
      <th>Fat</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Total</th>
      <th>{{EntryCtrl.totalCalories}}</td>
      <th>{{EntryCtrl.totalProtein}}</td>
      <th>{{EntryCtrl.totalCarbs}}</td>
      <th>{{EntryCtrl.totalFats}}</td>
      <th>N/A</th>
    </tr>
      <tr ng-repeat="food in EntryCtrl.entry.foods">
        <td>{{food.name}}</th>
        <td>{{food.calories}}</td>
        <td>{{food.protein}}</td>
        <td>{{food.carbs}}</td>
        <td>{{food.fats}}</td>
        <td><a href="" ng-click="EntryCtrl.deleteFood(food, $index)">Delete</a></td>
      </tr>
  </tbody>
