
<h2> New Chapter Page Placeholder </h2>

<form name="newChapterForm" ng-submit="NewChapterCtrl.create()">
  <div class="input-group">
    <label for="goal">Goal</label>
    <input id="goal" type="number" step="0.1" value="0.0" name="goal" required="true" ng-model="NewChapterCtrl.goal">
    <div ng-messages="newChapterForm.goal.$error" ng-if="newChapterForm.goal.$touched">
      <div ng-message="required">Please enter a goal.</div>
      <div ng-message="number">Please enter a number.</div>
    </div>
  </div>

  <div class="input-group">
    <label for="title">Title</label>
    <input id="title" name="title" required="true" ng-model="NewChapterCtrl.title">
    <div ng-messages="newChapterForm.title.$error" ng-if="newChapterForm.title.$touched">
      <div ng-message="required">Please enter a title.</div>
    </div>
  </div>

  <div class="input-group">
    <label for="description">Description</label>
    <input ng-model="NewChapterCtrl.description">
  </div>

  <input type="submit" class="btn btn-success" value="Create Chapter">

</form>
