<h1>{{ChapterCtrl.chapter.title}}</h1>

<h3>Created at {{ChapterCtrl.chapter.created_at | date:'longDate'}} </h3>

<div ng-if="ChapterCtrl.chapter.completed_at === null">
  <h3>Currently in Progress</h3>
  <btn class="btn btn-danger" ng-click="ChapterCtrl.markComplete()">Mark Chapter As Complete</btn>
</div>

<div ng-if="ChapterCtrl.chapter.completed_at !== null">
  <h3>Completed at {{ChapterCtrl.chapter.completed_at | date:'longDate'}} </h3>
</div>

<br></br>
<div ng-if="ChapterCtrl.chapter.description === null">
  <p>No description avaliable.</p>
</div>
<p>{{ChapterCtrl.chapter.description}}</p>

<div ng-if="ChapterCtrl.chapter.goal > 0">
  <p>Your goal is to gain an average of {{ChapterCtrl.chapter.goal}} lb per week.</p>
</div>

<div ng-if="ChapterCtrl.chapter.goal === 0">
  <p>Your goal is to maintain your weight.</p>
</div>

<div ng-if="ChapterCtrl.chapter.goal < 0">
  <p>Your goal is to lose an average of {{-1 * ChapterCtrl.chapter.goal}} lb per week.</p>
</div>

<h2>Entries</h2>

<h3>Create New Entry</h3>

<form name="newEntryForm" ng-submit="ChapterCtrl.createEntry()">
  <div class="input-group">
    <label for="day">Day</label>
    <input id="day" name="day" ng-model="ChapterCtrl.newEntry.day">
  </div>

  <div class="input-group">
    <label for="notes">Notes</label>
    <input id="notes" name="notes" ng-model="ChapterCtrl.newEntry.notes">
  </div>

  <input type="submit" class="btn btn-success" value="Create Entry">
</form>
<div ng-repeat="entry in ChapterCtrl.chapter.entries">
  <a ui-sref="entries({id: entry.id})">{{entry.day}}</a>
</div>
