<h3>Statistics for Chapter</h3>
<h4><a ui-sref="showChapter({id: ChapterCtrl.chapter.id})">Return to Chapter</a></h4>

<div ng-if="ChapterStatsCtrl.chapter.goal > 0">
  <p>Your goal is to gain an average of {{ChapterStatsCtrl.chapter.goal}} lb per week.</p>
</div>

<div ng-if="ChapterStatsCtrl.chapter.goal === 0">
  <p>Your goal is to maintain your weight.</p>
</div>

<div ng-if="ChapterStatsCtrl.chapter.goal < 0">
  <p>Your goal is to lose an average of {{-1 * ChapterStatsCtrl.chapter.goal}} lb per week.</p>
</div>


<h4><a ui-sref="showChapter.entryMeasurement({id: ChapterStatsCtrl.chapter.id, entry_id: ChapterStatsCtrl.firstEntryID})">First Measurements</a></h4>
  <p>Weight: {{ChapterStatsCtrl.firstMeasurement.weight.toFixed(1) || "N/A"}}</p>
  <p>Bodyfat: {{ChapterStatsCtrl.firstMeasurement.bodyfat.toFixed(1) || "N/A"}}</p>
  <p>Height: {{ChapterStatsCtrl.firstMeasurement.height.toFixed(1) || "N/A"}}</p>
  <p>Waist: {{ChapterStatsCtrl.firstMeasurement.waist.toFixed(1) || "N/A"}}</p>
  <p>Chest: {{ChapterStatsCtrl.firstMeasurement.chest.toFixed(1) || "N/A"}}</p>

<h4>Latest Averages</h4>
  <p>Weight: {{ChapterStatsCtrl.thisWeekMeasurements.weight.toFixed(1) || "N/A" }}</p>
  <p>Bodyfat: {{ChapterStatsCtrl.thisWeekMeasurements.bodyfat.toFixed(1) || "N/A" }}</p>
  <p>Height: {{ChapterStatsCtrl.thisWeekMeasurements.height.toFixed(1) || "N/A" }}</p>
  <p>Waist: {{ChapterStatsCtrl.thisWeekMeasurements.waist.toFixed(1) || "N/A" }}</p>
  <p>Chest: {{ChapterStatsCtrl.thisWeekMeasurements.chest.toFixed(1) || "N/A" }}</p>

<h4>Change from Last Week Averages</h4>
<p>Weight: {{ChapterStatsCtrl.measurementChange.weight }}</p>
<p>Bodyfat: {{ChapterStatsCtrl.measurementChange.bodyfat }}</p>
<p>Height: {{ChapterStatsCtrl.measurementChange.height }}</p>
<p>Waist: {{ChapterStatsCtrl.measurementChange.waist }}</p>
<p>Chest: {{ChapterStatsCtrl.measurementChange.chest }}</p>



<h4>Average Performance</h4>

<p>Average calorie consumption: {{ChapterStatsCtrl.calculateAverage(ChapterStatsCtrl.chapter.total_calories)}}</p>
<p>Average protein consumption: {{ChapterStatsCtrl.calculateAverage(ChapterStatsCtrl.chapter.total_protein)}}</p>
<p>Average carbs consumption: {{ChapterStatsCtrl.calculateAverage(ChapterStatsCtrl.chapter.total_carbs)}}</p>
<p>Average fats consumption: {{ChapterStatsCtrl.calculateAverage(ChapterStatsCtrl.chapter.total_fats)}}</p>
<p>Average weekly change in weight: {{ChapterStatsCtrl.averageChangeWeight}} </p>
