<div class="page-header">
  <h1>Sign In</h1>
</div>

<form name="signInForm" ng-submit="login()">
  <div class="input-group">
    <label for="email">Email</label>
    <input id="email" required="required" name="email" type="email" class="form-control" placeholder="example@example.com" ng-model="user.email">
  </div>
  <div ng-messages="signInForm.email.$error" ng-if="signInForm.email.$touched">
    <div ng-message="required">Please enter an email.</div>
    <div ng-message="email">Your email is not valid.</div>
  </div>
  <div class="input-group">
    <label for="password">Password</label>
    <input id="password" required="required" minlength="5" maxlength="128" name="password" type="password" class="form-control" placeholder="example" ng-model="user.password" ng-change="signInForm.password.$error.server = false">
  </div>
  <div ng-messages="signInForm.password.$error" ng-if="signInForm.password.$touched">
    <div ng-message="required">Please enter a password.</div>
    <div ng-message="minlength">Your password must be at least five characters.</div>
    <div ng-message="maxlength">Your password must be less than 128 characters (really?).</div>
    <div ng-message="server">{{serverPasswordError}}</div>
  </div>

  <input type="submit" class="btn btn-success" value="Sign In">
</form>

<p>Don't have an account? <a ui-sref="signup"> Click here to sign up. </a></p>
