<div class="page-header">
  <h1>Sign Up</h1>
</div>



<form name="signUpForm" ng-submit="register()">
  <div class="input-group">
    <label for="email">Email</label>
    <input id="email" required="required" name="email" type="email" class="form-control" ng-model="user.email" ng-change="signUpForm.email.$error.server = false">
  </div>
  <div ng-messages="signUpForm.email.$error" ng-if="signUpForm.email.$touched">
    <div ng-message="required">Please enter an email.</div>
    <div ng-message="email">Your email is not valid.</div>
    <div ng-message="server">{{serverEmailError}}</div>
  </div>



  <div class="input-group">
    <label for="password">Password</label>
    <input id="password" required="required" minlength="5" maxlength="128" name="password" type="password" class="form-control" ng-model="user.password"　ng-change="signUpForm.password.$error.server = false">
    <div ng-messages="signUpForm.password.$error" ng-if="signUpForm.password.$touched">
      <div ng-message="required">Please enter a password.</div>
      <div ng-message="minlength">Your password must be at least five characters.</div>
      <div ng-message="maxlength">Your password must be less than 128 characters (really?).</div>
      <div ng-message="server">{{serverPasswordError}}</div>
    </div>
  </div>

  <div class="input-group">
    <label for="time_zone">Time Zone</label>
    <select name="time_zone" id="time_zone" required="required" ng-model="user.time_zone">
      <option value="">-- choose an option --</option>
      <option value="Hawaii">(GMT-10:00) Hawaii</option>
      <option value="Alaska">(GMT-09:00) Alaska</option>
      <option value="Pacific Time (US &amp; Canada)">(GMT-08:00) Pacific Time (US &amp; Canada)</option>
      <option value="Mountain Time (US &amp; Canada)">(GMT-07:00) Mountain Time (US &amp; Canada)</option>
      <option value="Central Time (US &amp; Canada)">(GMT-06:00) Central Time (US &amp; Canada)</option>
      <option value="Eastern Time (US &amp; Canada)">(GMT-05:00) Eastern Time (US &amp; Canada)</option>
    </select>
    <div ng-messages="signUpForm.time_zone.$error" ng-if="signUpForm.time_zone.$touched">
      <div ng-message="required">Please enter a timezone.</div>
    </div>
  </div>

  <input type="submit" class="btn btn-success" value="Sign Up">
</form>



<p>Already have an account? <a ui-sref="signin"> Click here to sign in. </a></p>
