<div class="page-header">
  <h1>Sign Up</h1>
</div>


{{errors}}
<form ng-submit="register()">
  <div class="input-group">
    <label for="user_email">Email</label>
    <input required="required" name="email" type="email" class="form-control" ng-model="user.email">
  </div>
  <div class="input-group">
    <label for="user_password">Password</label>
    <input required="required" minlength="5" maxlength="128" name="password" type="password" class="form-control" ng-model="user.password">
  </div>


  <input type="submit" class="btn btn-success" value="Sign Up">
</form>



<p>Already have an account? <a ui-sref="signin"> Click here to sign in. </a></p>
