<!DOCTYPE html>
<html>
<head>
  <title>Fitness Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="fitnessTracker" ng-controller="ApplicationController">
  <div ng-include="'nav/_nav.html'"></div>
  <div class="container-fluid">
      <ui-view></ui-view>
    </div>
  </div>
</body>
</html>
